input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

* {
  min-width: 0px;
  box-sizing: border-box;
}

.note {
  border-left: 4px solid #000;
  display: block;
  opacity: 0.5;
  padding: 0.5rem;
}

.button {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  padding: 1rem;
}

.label {
  opacity: 0.7;
  text-transform: uppercase;
  font-weight: bold;
}

.mb-1 {
  margin-bottom: 1rem;
}
.order-grid {
  margin: 1rem 0;
  width: 300px;
  gap: 0.4rem;
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto;
}

.border {
  border: 1px solid #000;
}

.self-center {
  align-self: center;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-1 {
  gap: 1rem;
}

